In [2]:
import pandas as pd
df=pd.read_excel("movies_metadata.xlsx")

In [4]:
df.title,df.genres

(0                                             Toy Story
 1                                               Jumanji
 2                                      Grumpier Old Men
 3                                     Waiting to Exhale
 4                           Father of the Bride Part II
 5                                                  Heat
 6                                               Sabrina
 7                                          Tom and Huck
 8                                          Sudden Death
 9                                             GoldenEye
 10                               The American President
 11                          Dracula: Dead and Loving It
 12                                                Balto
 13                                                Nixon
 14                                     Cutthroat Island
 15                                               Casino
 16                                Sense and Sensibility
 17                                           Four Rooms
 18                       Ace Ventura: When Nature Calls
 19                                          Money Train
 20                                           Get Shorty
 21                                              Copycat
 22                                            Assassins
 23                                               Powder
 24                                    Leaving Las Vegas
 25                                              Othello
 26                                         Now and Then
 27                                           Persuasion
 28                            The City of Lost Children
 29    In 1930's Shanghai violence was not the proble...
 30                                      Dangerous Minds
 31                                       Twelve Monkeys
 32                                     Wings of Courage
 33                                                 Babe
 34                                           Carrington
 35                                     Dead Man Walking
 36                               Across the Sea of Time
 37                                         It Takes Two
 38                                             Clueless
 39                             Cry, the Beloved Country
 40                                          Richard III
 41                                      Dead Presidents
 42                                          Restoration
 43                                        Mortal Kombat
 44                                           To Die For
 45                        How To Make An American Quilt
 46                                                Se7en
 47                                           Pocahontas
 48                                When Night Is Falling
 49                                   The Usual Suspects
 Name: title, dtype: object,
 0     [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1     [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2     [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3     [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                        [{'id': 35, 'name': 'Comedy'}]
 5     [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
 6     [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
 7     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
 8     [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
 9     [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
 10    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 11    [{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...
 12    [{'id': 10751, 'name': 'Family'}, {'id': 16, '...
 13    [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
 14    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
 15    [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
 16    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
 17    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
 18    [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
 19    [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...
 20    [{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...
 21    [{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...
 22    [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
 23    [{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...
 24    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
 25                        [{'id': 18, 'name': 'Drama'}]
 26    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 27    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
 28    [{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...
 29    [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
 30    [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
 31    [{'id': 878, 'name': 'Science Fiction'}, {'id'...
 32    [{'id': 10749, 'name': 'Romance'}, {'id': 12, ...
 33    [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
 34    [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
 35                        [{'id': 18, 'name': 'Drama'}]
 36    [{'id': 12, 'name': 'Adventure'}, {'id': 36, '...
 37    [{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...
 38    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 39                        [{'id': 18, 'name': 'Drama'}]
 40    [{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...
 41    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
 42    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
 43    [{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...
 44    [{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...
 45    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
 46    [{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...
 47    [{'id': 12, 'name': 'Adventure'}, {'id': 16, '...
 48    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
 49    [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
 Name: genres, dtype: object)

In [6]:
df.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Unnamed: 24
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,NaN
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818,170,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,NaN
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,0,127,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141.0,NaN
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,0,97,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,NaN
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,64350171,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174.0,NaN
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,352194034,130,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,NaN

In [14]:
print(f"Longest Runtime: {max(df.runtime)}\nShortest Runtime: {min(df.runtime)}")

Longest Runtime: 192
Shortest Runtime: 0

KeyError: 0      81
1     104
2     101
3     127
4     106
5     170
6     127
7      97
8     106
9     130
10    106
11     88
12     78
13    192
14    119
15    178
16    136
17     98
18     90
19    103
20    105
21    124
22    132
23    111
24    112
25    123
26    100
27    104
28    108
29      0
30     99
31    129
32     50
33     89
34    121
35    122
36     51
37    101
38     97
39    106
40    104
41    119
42    117
43    101
44    106
45    116
46    127
47     81
48     96
49    106
Name: runtime, dtype: int64

In [105]:
 df.title,df.runtime<360

(0                                             Toy Story
 1                                               Jumanji
 2                                      Grumpier Old Men
 3                                     Waiting to Exhale
 4                           Father of the Bride Part II
 5                                                  Heat
 6                                               Sabrina
 7                                          Tom and Huck
 8                                          Sudden Death
 9                                             GoldenEye
 10                               The American President
 11                          Dracula: Dead and Loving It
 12                                                Balto
 13                                                Nixon
 14                                     Cutthroat Island
 15                                               Casino
 16                                Sense and Sensibility
 17                                           Four Rooms
 18                       Ace Ventura: When Nature Calls
 19                                          Money Train
 20                                           Get Shorty
 21                                              Copycat
 22                                            Assassins
 23                                               Powder
 24                                    Leaving Las Vegas
 25                                              Othello
 26                                         Now and Then
 27                                           Persuasion
 28                            The City of Lost Children
 29    In 1930's Shanghai violence was not the proble...
 30                                      Dangerous Minds
 31                                       Twelve Monkeys
 32                                     Wings of Courage
 33                                                 Babe
 34                                           Carrington
 35                                     Dead Man Walking
 36                               Across the Sea of Time
 37                                         It Takes Two
 38                                             Clueless
 39                             Cry, the Beloved Country
 40                                          Richard III
 41                                      Dead Presidents
 42                                          Restoration
 43                                        Mortal Kombat
 44                                           To Die For
 45                        How To Make An American Quilt
 46                                                Se7en
 47                                           Pocahontas
 48                                When Night Is Falling
 49                                   The Usual Suspects
 Name: title, dtype: object,
 0     True
 1     True
 2     True
 3     True
 4     True
 5     True
 6     True
 7     True
 8     True
 9     True
 10    True
 11    True
 12    True
 13    True
 14    True
 15    True
 16    True
 17    True
 18    True
 19    True
 20    True
 21    True
 22    True
 23    True
 24    True
 25    True
 26    True
 27    True
 28    True
 29    True
 30    True
 31    True
 32    True
 33    True
 34    True
 35    True
 36    True
 37    True
 38    True
 39    True
 40    True
 41    True
 42    True
 43    True
 44    True
 45    True
 46    True
 47    True
 48    True
 49    True
 Name: runtime, dtype: bool)

In [91]:
l=[]
num=int(input("Enter number of string: "))
for i in range(num):
    s=input("Enter String: ")
    l.append(s.lower())
sub=input("Enter Substring: ").lower()
co=0
for i in range(num):
    if sub in l[i]:
        co+=1
print(co)

Enter number of string:  4
Enter String:  hello
Enter String:  world
Enter String:  hello world
Enter String:  goodbye
Enter Substring:  HELLO

2

In [108]:
class Book:
    def __init__(self,title,author,publication_year,genre,num_pages):
        self.title=title
        self.author=author
        self.publication_year=publication_year
        self.genre=genre
        self.num_pages=num_pages

    def read(self,pages):
        self.pages=pages
        self.num_pages-=self.pages
        print(f"Number of pages are {self.num_pages}")

    def genre(self,new_genre):
        self.new_genre=new_genre
        self.genre=self.new_genre
        print(f"New genre: {self.genre}")

    def get_age(self):
        return 2024-self.publication_year
a=Book("end Day","divy",1990,"sbvr",200)
a.read(50)
a.get_age()

Number of pages are 150

34

In [104]:
s=input("Enter string1: ").lower()
s1=input("Enter string2: ").lower()
flag= 0
for i in s:
    if i not in s1:
        flag=1
        break
if flag==0:
    print("True")
else:
    print("false")

Enter string1:  silent
Enter string2:  listen

True